airplane(70.0f).txt filter=lfs diff=lfs merge=lfs -text
airplane.txt filter=lfs diff=lfs merge=lfs -text
compare_0.png filter=lfs diff=lfs merge=lfs -text
main.cpp filter=lfs diff=lfs merge=lfs -text
RMSE(PixelByPixel)Calculator.vcxproj filter=lfs diff=lfs merge=lfs -text
textprinter.cpp filter=lfs diff=lfs merge=lfs -text
plate.txt filter=lfs diff=lfs merge=lfs -text
resources filter=lfs diff=lfs merge=lfs -text
airplane(normal_albedo_compare).txt filter=lfs diff=lfs merge=lfs -text
i_output_4(ground_truth).png filter=lfs diff=lfs merge=lfs -text
image.h filter=lfs diff=lfs merge=lfs -text
tempResult2.txt filter=lfs diff=lfs merge=lfs -text
x64 filter=lfs diff=lfs merge=lfs -text
errors filter=lfs diff=lfs merge=lfs -text
i_output_4.png filter=lfs diff=lfs merge=lfs -text
sources filter=lfs diff=lfs merge=lfs -text
tempResult.txt filter=lfs diff=lfs merge=lfs -text
euclideancalculator.cpp filter=lfs diff=lfs merge=lfs -text
textprinter.h filter=lfs diff=lfs merge=lfs -text
airplane(real).txt filter=lfs diff=lfs merge=lfs -text
euclideancalculator.h filter=lfs diff=lfs merge=lfs -text
image.cpp filter=lfs diff=lfs merge=lfs -text
plate(normal).txt filter=lfs diff=lfs merge=lfs -text
RMSE(PixelByPixel)Calculator.vcxproj.filters filter=lfs diff=lfs merge=lfs -text
charts filter=lfs diff=lfs merge=lfs -text
result.txt filter=lfs diff=lfs merge=lfs -text
RMSE(PixelByPixel)Calculator.vcxproj.user filter=lfs diff=lfs merge=lfs -text
